@import "bulma";
@import "variables";
@import "modules/utilities";
@import "modules/heading";
@import "modules/navbar";
@import "modules/footer";
@import "pages/index";

body {
	font-size: 16px;
	background-color: white;
	.container {
		&.main-content {
			padding-top: 4rem;
		}
	}
}