footer:not(.modal-card-foot) {
	background: url('../../images/bg_footer.png') no-repeat top;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 1rem;
	margin-top: 5em;
	color: #ccc;

}