h1 {
	font-size: 2rem;
	&.primary{
		font-size: 3rem!important;
		font-weight: bolder;
		padding: 0.5rem;
	}
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}